@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: rgb(51, 51, 51) ;
}

.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 15px 5px rgb(218, 200, 174);
    position: fixed;
}

.logo{
    margin-left: 10%;
}

.navbar .logo a{
    text-decoration: none;
    color: black;
}

#id-logo{
    font-family: "Dancing Script", cursive;
    color: rgb(218, 200, 174);
    
}

.menu{
    margin-left: auto;
    margin-right: 10%;
}

.navbar .menu .link-menu a{
    text-decoration: none;
    color: black;
}

.navbar .menu .link-menu a:hover{
    text-decoration: underline;
    color: rgb(218, 200, 174);
}

.navbar .menu .link-menu li{
    list-style-type: none;
    padding: 20px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 1.0rem;
    
}

.link-menu{
    display: flex;
}

.button{
    display: none;
}
/* modifiche container video */

.container{
    width: 100%;
    height: 90vh;
    position: relative;
    z-index: -999;
    background-color: rgb(51, 51, 51);
    overflow: scroll;
}

/* modifiche welcome*/
.welcome{
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
}
/* modifiche description*/

.description{
    width: 50%;
    height: 50vh;
    background-color: #fff;
    
}

.text{
    text-align: center;
}

#id-text-description{
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    color: rgb(218, 200, 174) ;
    
}

.subtitle{
    width: 100%;
    height: auto;
    text-align: center;
    height: auto;
    margin-top: 0;
}

.create-nature{
    width: 50%;
    height: 50vh;
    text-align: center;
    background-color: rgb(218, 200, 174);
}

@media (max-width: 768px) {
    .navbar .link-menu {
      display: none; /* Nasconde gli elementi della navbar */
    }
    
    .navbar .button{
        display: inline;
    }
    .navbar {
      position: relative; /* Posiziona il pulsante in modo relativo */
    }
  
    .navbar button {
      display: block; /* Mostra il pulsante */
      position: absolute; /* Posiziona il pulsante in modo assoluto */
      top: 50%; /* Posiziona il pulsante verticalmente al centro */
      right: 20px; /* Posiziona il pulsante a destra */
      transform: translateY(-50%); /* Centra il pulsante verticalmente */
      background-color: #333; /* Colore di sfondo del pulsante */
      border-radius: 10px;
      color: white; /* Colore del testo del pulsante */
      padding: 10px 15px; /* Padding del pulsante */
      border: none; /* Rimuove il bordo del pulsante */
      cursor: pointer; /* Indica che è un pulsante */
    }
    .navbar button:hover {
        background-color: #555; /* Colore di sfondo del pulsante al mouseover */
      }
}
